
body {
	background-color: #030303;
	color: #ffffff;
	font-family: Verdana, Helvetica, Arial;
	font-size: 15px;
}

div {
	display: inline;
}

i {
	margin-left: 4px;
	margin-right: 5px;
}

img {
	width: 100%;
}


h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #700
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #700;
	font-family: 'Montserrat', sans-serif;
}

p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.li_bold{
	font-weight: bold;
}

#fio {
	margin: 0;
	text-align: center;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
}

#main_info {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	border-bottom: 2px solid #ffffff;
	font-family: 'Montserrat', sans-serif;
}

#print {
	bottom: 0px;
}

#short_info {
	background-image: url(images/download.jpeg)
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #030303;
	border: 2px solid #ffffff;
	width: 200px;
	font-size: 16px;
	text-align: left;
  margin-top: 5px;
  top: 10%;
  right: 0px;
  font-family: 'Montserrat', sans-serif;
}